.footertwo li {
  list-style-type: none;
}
.footertwo p {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "pantonlight";
  font-weight: 400;
}
.footertwo a {
  text-decoration: none !important;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "pantonlight";
  cursor: pointer;
  position: relative;
}
.theline {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 0 10px;
  position: absolute;
  z-index: 2;
}
.theline h1 {
  font-size: 22.8rem;
  text-transform: uppercase;
  margin: 0;
  line-height: 19rem;
  pointer-events: none;
}
.sticky-footer {
  height: 110vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  bottom: 0;
  background-color: #0042ff;
  z-index: 1;
  box-sizing: border-box;
  overflow: hidden;
}
.footertwo {
  padding: 20px 100px;
  color: white;
}
.footertwo .main-footertwo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}
.footertwo .main-footertwo h3 {
  font-size: 12rem;
}
ul li p {
  margin: 0;
}
.footertwo .footertwo-bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
.footertwo .footertwo-bottom .copyright-links p {
  margin: 0;
}
.copyright-links {
  width: 100%;
  text-align: right;
  align-content: end;
  padding-top: 30px;
}
.copyright-links p {
  font-family: "pantonbold";
  font-size: 0.8rem;
}

.main-footertwo .reachout {
  height: 35%;
  align-content: start;
}
.main-footertwo ul {
  margin: 0;
  padding: 0;
}
.main-footertwo .findus,
.main-footertwo .socials,
.main-footertwo .nav-links {
  height: 58%;
  flex-wrap: wrap;
}
.nav-links {
  width: 14%;
}
.nav-links a,
.nav-links p {
  color: white !important;
  font-family: "pantonlight" !important;
  font-weight: 400 !important;
}
.main-footertwo .findus ul,
.main-footertwo .socials ul,
.main-footertwo .nav-links ul {
  padding-top: 100px;
}
.dnd-footer-logo {
  width: 39%;
  display: flex;
  height: 64%;
  position: relative;
  justify-content: center;
}
.dnd-footer-logo .footerlogo {
  width: 550px;
  position: absolute;
  top: 0;
  left: 140px;
}

.newslatter {
  width: 50%;
}
.newslatter form input {
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  border-bottom: 3px solid white;
  width: 85%;
  font-size: 5rem;
  font-family: "PathwayGothicOne";
}
.newslatter form input::placeholder {
  color: white;
}

.footer-col__copy--inline a {
  position: relative;
  display: inline-block;
  color: white;
}

.footer-col__copy--inline a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease; /* <== this animates it */
  pointer-events: none;
}

.footer-col__copy--inline a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.copyrightnav a {
  font-family: "pantonbold";
  font-size: 0.8rem;
}
.blinks:hover {
  animation: blinks 0.4s ease;
}
@keyframes blinks {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer-top-logo {
  width: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.footer-top-logo .logo_ani {
  width: 11%;
}
.footer-top-logo .logo {
  width: 90%;
}
