.hero-container {
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 2;
  background-color: white;
  margin-bottom: -2px;
}

.mask {
  height: 100vh;
  width: 100%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: screen;
  position: relative;
}

.mask .mypng {
  width: 30rem;
  position: absolute;
  transform-origin: center center;
}
.bgfont {
  font-size: 30rem;
  color: rgb(0, 0, 0);
  transform-origin: center center;
  margin: 0;
  font-family: "antique";
  position: relative;
}
.hero-container .springyvid {
  position: fixed;
  z-index: -1;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}
.hero-container .bannervideo {
  position: fixed;
  z-index: -1;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}
.hero-container .bannervideo-mobile {
  display: none;
  position: fixed;
  z-index: -1;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: none;
}
/* .mobile-bgfont-container {
  display: none;
} */
@media only screen and (max-width: 1600px) {
  .bgfont {
    font-size: 28rem;
  }
}

@media only screen and (max-width: 1440px) {
  .bgfont {
    font-size: 27rem;
  }
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1280px) {
  .bgfont {
    font-size: 27.5rem;
  }
}

@media only screen and (max-width: 1024px) {
  .bgfont {
    font-size: 29rem;
  }
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 690px) {
  .bgfont {
    font-size: 30rem;
  }
}

@media only screen and (max-width: 580px) {
  .hero-container .bannervideo {
    display: none;
  }
  .hero-container .bannervideo-mobile {
    display: block;
  }
  .bgfont {
    font-size: 32rem;
  }
}

@media only screen and (max-width: 480px) {
  .bgfont {
    font-size: 38rem;
  }
  .hero-container video {
    object-fit: fill;
  }
}

@media only screen and (max-width: 414px) {
  .bgfont {
    font-size: 40rem;
  }
}

@media only screen and (max-width: 375px) {
}

@media only screen and (max-width: 360px) {
}
