@font-face {
  font-family: "megazoid";
  src: url("../../assets/font/megazoid.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.contact-section {
  padding: 6rem 1rem 16rem 1rem;
  background-color: #f9f9f9;
  text-align: center;
  position: relative;
  z-index: 2;
}

.contact-container {
  max-width: 42rem;
  margin: 0 auto;
}

.contact-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.contact-line {
  width: 1px;
  height: 60px;
  background-color: #333;
}

.contact-title {
  font-size: 3.5rem;
  font-weight: 700;
  color: #000d32;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: "megazoid";
  letter-spacing: 4px;
}

.contact-description {
  font-size: 0.9rem;
  font-weight: 600;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1.6;
  font-weight: medium;
}

.contact-button {
  display: inline-flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: medium;
  color: #333333;
  text-decoration: none;
  transition: all 0.3s ease;
}

.contact-button .arrow {
  margin-left: 0.5rem;
  color: #d4ff4f;
  font-size: 1rem;
  transition: transform 0.3s ease;
}

.contact-button:hover .arrow {
  transform: translateX(5px);
}
@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1440px) {
  .contact-container {
    max-width: 43rem;
  }
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1024px) {
  .contact-container {
    max-width: 44rem;
  }
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 800px) {
  .contact-container {
    max-width: 45rem;
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 690px) {
  .contact-container {
    max-width: 46rem;
  }
}

@media only screen and (max-width: 580px) {
  .contact-container {
    max-width: 47rem;
  }
}

@media only screen and (max-width: 480px) {
  .contact-container {
    max-width: 48rem;
  }
}

@media only screen and (max-width: 414px) {
  .contact-container {
    max-width: 50rem;
  }
}

@media only screen and (max-width: 375px) {
  .contact-container {
    max-width: 51rem;
  }
}

@media only screen and (max-width: 360px) {
  .contact-container {
    max-width: 52rem;
  }
}
