.bannerfour {
  width: 100%;
  height: 100vh;
  z-index: 2;
  position: relative;
}
.bannerfour .springy {
  object-fit: cover;
}
.bannerfour .cta-buttons {
  display: flex;
  width: 350px;
  position: absolute;
  bottom: 39%;
  left: 10.7%;
  justify-content: space-between;
}
