.nav-sticky {
  position: fixed;
  top: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  color: #000000;
  width: 96%;
  left: 0;
  z-index: 9;
  gap: 20px;
  height: 70px;
  /* margin-bottom: -70px; */
}

.nav-logo {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 2px;
}
.nav-logo a {
  display: flex;
}
.nav-logo .logo {
  width: 17rem;
  object-fit: contain;
}
.nav-logo .logo_ani {
  width: 1.95rem;
  object-fit: contain;
}

.navbar .navbar-links {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: right;
  gap: 0.2rem;
  position: relative;
}

.nav-item {
  position: relative;
  padding-left: 1rem;
  color: #0042ff;
  font-weight: normal;
}

.nav-item .slash {
  padding-right: 1.3rem;
  box-sizing: border-box;
}

.nav-indicator {
  width: 0.8rem;
  height: 0.8rem;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  left: 1.7rem;
  top: 30%;
  /* transform: translateY(-50%); */
}

.navbar-links .active {
  color: red;
  font-weight: bold;
  position: relative;
  padding-left: 1rem;
  transition: all 0.3s linear;
}
/* .navbar-links .active::before {
  width: 0.8rem;
  content: "";
  height: 0.8rem;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  left: 0%;
  top: 30%;
  display: block;
  transition: all 0.3s linear;
} */

.navbar-links li a {
  text-decoration: none;
  color: #0042ff;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1rem;
}

.navbar-links li a:hover {
  color: difference;
}

.magic-btn {
  position: relative;
  overflow: hidden;
  border: none;
  padding: 1rem 2rem;
  background-color: #0077ff;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.fill {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 0;
  transform-origin: center;
  mix-blend-mode: screen; /* optional for light blend */
}

.btn-content {
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1440px) {
  .navbar-links li a {
    font-size: 1.3rem;
  }
  .hover-btn .hover-btn-text {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 1366px) {
  .nav-logo .logo {
    width: 21rem;
  }
  .nav-logo .logo_ani {
    width: 2.61rem;
  }
  .hover-btn .hover-btn-text {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1280px) {
  .nav-logo .logo {
    width: 18.9rem;
  }
  .nav-logo .logo_ani {
    width: 2.3rem;
  }

  .hover-btn .hover-btn-text {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1024px) {
  .navbar {
    height: 50px;
    margin-bottom: -50px;
  }
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 800px) {
  .navbar {
    height: 40px;
    margin-bottom: -40px;
  }
}

@media only screen and (max-width: 768px) {
  .nav-logo .logo_ani {
    width: 2.5rem;
  }
}

@media only screen and (max-width: 690px) {
}

@media only screen and (max-width: 580px) {
  .nav-logo {
    margin-top: 15px;
  }
  .nav-logo .logo {
    width: 33.9rem;
  }
  .nav-logo .logo_ani {
    width: 4.1rem;
  }
  .navbar .container {
    display: none;
  }
  .navbar .navbar-links {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 414px) {
}

@media only screen and (max-width: 375px) {
}

@media only screen and (max-width: 360px) {
}
