.nav-stycky {
  position: sticky;
  top: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  /* background-color: #ffff4f; */
  color: #000000;
  /* position: absolute; */
  /* width: 100%; */
  top: 0;
  left: 0;
  z-index: 9;
}

.nav-logo {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 2px;
}
.logo {
  width: 300px;
}
img.logo_ani {
  width: 37px;
}

.navbar .nav-links {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: right;
  gap: 1.5rem;
}

.nav-links li a {
  text-decoration: none;
  color: #000d32;
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  color: difference;
}

.btn {
  position: relative;
  padding: 1rem 2rem;
  border: none;
  color: white;
  background: radial-gradient(
    circle at var(--x, 50%) var(--y, 50%),
    rgba(255, 255, 255, 0.2),
    transparent 40%
  );
  background-color: #0077ff;
  cursor: pointer;
  overflow: hidden;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}
