.about-page {
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  z-index: 2;
  background-color: red;
  position: relative;
  display: flex;
}
.about-page img {
  width: 100%;
  object-fit: cover;
}
.about-bottom {
  display: flex;
  width: 100%;
  height: 50rem;
  background-color: #fbfbfb;
  position: relative;
  z-index: 2;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 10rem 0rem;
}
.about-bottom .whatwedo {
  width: 1580px;
  /* background-color: blue; */
  border-bottom: 3px solid #000d32;
}
.whatwedo h1 {
  color: #000d32;
  font-size: 4.1rem;
  text-transform: uppercase;
  font-family: "antique";
  letter-spacing: -0.3rem;
  margin: 0;
  line-height: 3.6rem;
}
.about-bottom .bottom-content {
  width: 1580px;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
}
.bottom-content .content-first-row {
  display: flex;
  padding-top: 7rem;
}
.content-first-row .our-mission {
  height: 22rem;
  width: 50%;
  /* background-color: #a70bff; */
  /* border-radius: 0px 150px 0px 50px; */
  /* border: 2px solid black; */
  background-image: url(../../assets/images/ourmissionbg.png);
  position: relative;
  background-size: contain;
  transform: rotate(5deg);
  background-position: center;
  background-repeat: no-repeat;
}
/* .our-mission::before {
  content: "";
  width: 72%;
  height: 100%;
  position: absolute;
  inset: -25% 0%;
  background-color: #a70bff;
  border-radius: 25px;
  z-index: 1;
  box-shadow: 0px -2px 0px black, -1px -2px 0px black, 1px -2px 0px black,
    0px -15px 0px #ff720b, 0px -17px 0px black, -2px -16px 0px black,
    2px -16px 0px black;
}
.our-mission::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: -7% -0.2%;
  background-color: #ff720b;
  border-radius: 0px 150px 0px 50px;
  border: 2px solid black;
  z-index: -2;
} */
.our-mission .mission-content {
  width: 92.4%;
  height: 91%;
  /* background-color: #a70bff; */
  z-index: 2;
  display: flex;
  flex-direction: column;
  border-radius: 0px 150px 0px 50px;
  justify-content: center;
  padding-left: 5rem;
}
.content-first-row .we-create {
  width: 50%;
  /* background-color: #603fed; */
  /* border: 2px solid black; */
  position: relative;
  transform: rotate(355deg);
}

.we-create .we-create-content {
  width: 92.4%;
  height: 93%;
  /* background-color: #603fed; */
  z-index: 4;
  position: relative;
  padding: 10px 30px;
}
/* .we-create::before {
  content: "";
  position: absolute;
  background-color: #603fed;
  inset: -19% 0%;
  z-index: 6;
  border-radius: 15px 30px;
  z-index: 3;
  width: 50%;
  height: 100%;
  box-shadow: -2px 0px 0px black, 2px 0px 0px black, 0px -2px 0px black,
    2px -2px 0px black, 9px 0px 0px #d7ff2d, 0px -9px 0px #d7ff2d,
    9px -9px 0px #d7ff2d, 11px 0px 0px black, 0px -11px 0px black,
    10px -10px 0px black, 10px -10px 0px black;
}
.we-create::after {
  content: "";
  position: absolute;
  inset: 0% 0%;
  z-index: 2;
  box-shadow: 2px 0px 0px black, 0px -2px 0px black, 2px -2px 0px black,
    10px 0px 0px #d7ff2d, 0px -10px 0px #d7ff2d, 10px -10px 0px #d7ff2d,
    12px 0px 0px black, 0px -12px 0px black, 12px -12px 0px black;
} */
